p {
    background-color: #CB9173;
    color: aliceblue;
}

body {
   text-align: center;
   background-color:#320A28;
}

button{
   color:darkslateblue;
   background-color:burlywood;
}

h3{
   color: #CB9173;
}