*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;    
}

.navbar{
    background-color:rgb(5, 5, 48);
    height: 60px;
    width: 100%;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

/**Box1**/

.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url("Amazon-logo.jpeg");
    height: 50px;
    width: 100px;
    background-size: cover;
}

.border {
    border: 1px solid transparent;
    margin: 1px 1px 1px 1px;
}

.border:hover {
    border: 1px solid white;
}

/**Box2**/

.nav-address{
    padding: 10px;
}

.add-one{
    margin-left: 10px;
    color: #cccccc;
    font-size: 10px;
}

.add-two{
    margin-top: 4px;
    font-size: 30px;
}

/**Box3**/

.nav-search{
    display: flex;
    width: 500px;
    height: 40px;
    background-color: rgb(231, 150, 28);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.nav-search:hover{
    border:2px solid orange;
}

.search-select{
    color: black;
    background-color: #E6E6E6;
    font-size: 14px;
    padding: 0px 0px 0px 5px;
    width: 50px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border:none; 
}

.search-select:hover {
    background-color: #413f3f69;
}

.search-input{
    width: 450px;
    border: none;
    font-size: 1rem;
} 

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1.5rem;
}

.search-icon:hover {
    background-color: rgb(209, 145, 48) ;
}

/**BOX4**/

.nav-signin{
    font-size: 0.8rem;
    margin-top: 10px;   
    
}
.nav-account{
    font-weight: bold;
    height: 30px;
}

/**BOX5**/

.nav-returns{
    font-size: 0.8rem;  
}

.nav-orders{
    font-weight: bold;
    height: 30px;
}

/**Box5**/

.cart-icon{
    font-size: 2rem;
    width:45px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-text{
    font-weight: bold;
    font-size: 1.3rem;
    display: flex;
    text-align:justify;
    justify-self:flex-end ;
}

/**PANEL**/
.panel{
    background-color: rgb(1, 1, 59);
    color:white ;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.border:hover{
    border: 1px solid white;
}

.panel-all{
    margin-left: 20px;
    padding: 0px 0px 8px 8px; 
    font-weight: bold;
    font-size:20px;
}

.panel-ops p {
    display: inline;
    padding: 8px 9px; 
    font-size: 15px;

} 

.panel-ops{
    width:950px;
    font-size: 0.85rem;
}

.panel-deals{
    font-size: 0.9rem;
    font-weight: bold;
    padding: 8px 9px; 
}

/**Hero section**/

.hero-section{
    background-image: url("HeroAmazon.jpeg");
    background-size: cover;
    height: 350px;
    /* width: 1500px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-baseline{
    height:35px;
    width: 95%;
    background-color: #f5f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin: 20px;
} 

.hero-baseline a{
    color: #007185;
}

/**Shopping section**/

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* align-items: center;
    padding-bottom: 90%;  */
    background-color: rgb(238, 204, 210);
}

.box{
    height: 400px;
    width: 23%;
    margin-bottom: 20px;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-img{   
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 10px;
    margin-right: 10px;
}

.box-content{
    margin-left: 1rem ;
    margin-right: 1rem ;
}

.box-content p{
    color: #007185;
}

/**Footer**/

.foot-panel1{
    height: 30px;
    background-color: #37475a;
    color: white;
    padding: 15px 0px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.foot-panel2{
    background-color:rgb(5, 5, 48);
    color: #dddddd;
    height: 300px;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

ul a{
   display: block;
   text-decoration: none;
   margin-top: 10px;
   font-size: 0.9rem;
}

.foot-panel3{
    background-color:rgb(5, 5, 48);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.foot-panel3-logo{
    background-image: url("Amazon-logo.jpeg");
    height: 50px;
    width: 100px;
    background-size: cover;
    padding-right: 20px;
}

.foot-panel3-lang{
    color: white;
    padding: 7px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
}

.foot-panel3-curr{
    color: white;
    padding: 7px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.foot-panel3-flag{
    height: 20px;
    width: 30px;
    background-image: url("flag.png");
    background-size: contain;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    color: white;
}

.foot-panel4{
    background-color: #0f1111;
    color: white ;
    height: 100px;
    font-size: 0.7rem;
    text-align: center;
}

.pages{
    padding-top: 20px;
}

.pages a{
    padding-left: 20px;
}

.copyright{
    padding-top: 5px;
}